.nav-header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

@media screen and (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}
.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  padding: 10px 23px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}
